.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav{
    position: relative;
    margin-top: 32px;
    width: 81vh;
    height: auto;
    background: hsl(0, 0%, 0%);
    border-radius: 80px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    user-select: none;
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 55px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
.animation {
    position: absolute;
    width: 100px;
    top: 8px;
    height: 40px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 80px;
    transition: all 0.5s ease;
    display: none;
}

.hovered1{
    left: 8px;
    display: block;
}

.hovered2{
    left: 125px;
    display: block;
}

.hovered3{
    left: 245px;
    display: block;
}

.hovered4{
    width: 105px;
    left: 358px;
    display: block;
}
 

a:hover{
    font-weight: 600;
    color: black;
    transition: color 1s;
}


