<<<<<<< HEAD
body {
  text-align: center !important;
  padding: 0 !important;
  font-family: 'Muli', sans-serif !important;
}



/*

@media screen and (max-width: 500px) {

  
  
}

@media screen and (min-width: 501px) {
  
  
}

*/
=======
body{
  text-align: center;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
>>>>>>> origin/main
